*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    
    justify-content: center;
}

table {
    width: 40%;
    background-color: gray;
    text-align: center;
}
td{
    padding: 6px;
    color: white;

}

#header{
    font-size: 20px;
}
#header td{
    color: rgb(180, 221, 238) !important;
}
