<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- <input type="file" name="logDir" id="file" onchange=onLoadFile() > -->
    <h1 id="file-text"></h1>

    <table id="table" >
        <tr id= "header" >
          {% for head in header %}
            <td>{{head}}</td>
          {% endfor %}
        </tr>
        {% for log in logs %}
          <tr>
            <td>{{log['s-ip']}}</td>
            <td>{{log['cs-uri-stem']}}</td>
            <td>{{log['c-ip']}}</td>
            <td>{{log['sc-status']}}</td>
            <td>{{log['time-taken']}} ms</td>
          </tr>
        {% endfor %}

    </table>

    <script src="sort.js"></script>

</body>

</html>